/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 30, 2019, 5:20:23 PM
    Author     : Mason
*/

@font-face {
    font-family: "SMTFont";
    src: url("fonts/Futura Std Medium.woff") format('woff');
}

html, body {
    height: 100%;
    margin: 0;
    min-width: 1300px;
    overflow-x: hidden;
    width: 100%;
}

#banner {
    width: 100%;
    height: 100px;
    position: relative;
    background-color: white;  
    background: url(images/rockies.jpg);
    background-size: cover;
    background-position: center;
}
#title{
    margin: 0;
    width: 100%;
    position: relative; 
    text-align: center;
}

#title h1 {
    color: black;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #A0B28F;
    font-family: 'Futura Std Medium';
}

#contentwrapper{
    float: left;
    width: 100%;
}

#contentcolumn{
    margin-left:  calc(100% - 400px); /*Set left margin to LeftColumnWidth*/
    height: 100%;
}
#leftcolumn{
    float: left;
    width: calc(100% - 400px); /*Width of left column*/
    margin-left: -100%;
    height: 100%;
    /*    background-image: url(images/field.jpg);
        background-position: initial;
        background-size: 100% 750px;
        background-repeat: no-repeat;
        background-position-y: 30%;
        background-color: #686868;*/

}
#intro{
    height: 100%;
    width: 100%;
    /*background-color: #fffcfc;*/
}
.course_title {
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 2.0em;
    text-indent: 10px;
    color: #545454;
    font-weight: bold;
}
#intro .titleTab{
    background-color: #F7F7F7;
    width: 98%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 2px;
    border-radius: 5px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1.7em;
    box-shadow: -2px 2px 5px #CCCCB8;
    text-indent: 10px;
    color: #A0B28F;
}
#intro .descTab{
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 62px;
    width: 90%;
    font-family: Gill Sans / Gill Sans MT,sans-serif;
        /*color: #757575;*/
}

#intro .title2tab{
    background-color: #A0B28F;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 98%;
    padding: 2px;
    border-radius: 7px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1.7em;
    box-shadow: -2px 2px 5px #CCCCB8;
    text-indent: 10px;
    color: #FFF;
}

#playPosition{
    height: 5%; 
    width: 100%; 
    /*background: red;*/
}

#playPosition h1{
    margin: 0;
    text-align: center;
}

/*Player Selector CSS Start*/
#playerSelector{
    height: 70px;
    width: 100%;
    position: relative;
    /*float: left;*/
    background-color: #2d2d2d;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.posButton{
    height: 50px;
    width: 60px;
    float: left;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
    margin-left: 30px;
    margin-top: 5px;
    background-image: linear-gradient(lightgrey, grey);
}

.posButton h2{  
    font-size: 20px;
    margin:0;
    padding: 0;
    /*margin: 25%;*/
    text-align: center;
}

/*Player Selector CSS End*/
/*Side Nav CSS Start*/
#sidenav{
    height: 100%;
    width: 400px;
    position: relative;
    float: right;
    background-color: #333;
    border-left: black;
    border-left-style: solid;
    border-left-width: 2px;
    overflow: hidden;
}

#playBanner {
    width: 100%;
    height: 50px;
    background-color: #686868;
}

#playBanner h1{
    /*    border-top: black;
        border-top-style: solid;
        border-top-width: 5px;
        color: black;*/
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    /*background-color: #A0B28F*/
}

#playHeader{
    height: 50px;
    width: 100%;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;


}
#playHeader ul{
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 50px;
    background-color: #686868;

}

.playHeader{
    position: relative; 
    width: 25%; 
    height: 50px; 
    float:left
}

.clickHeader{
    position: relative; 
    width: 25%; 
    height: 50px; 
    float:left
}

.accHeader{
    position: relative; 
    width: 25%; 
    height: 50px; 
    float:left
}

.timeHeader{
    position: relative; 
    width: 25%; 
    height: 50px; 
    float:left
}

#playContainer {
    width: 100%;
    height: 300px;
}

#playContainer ul{
    width: 100%;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
#playContainer li {
    width: 100%;
    height: 50px;
    border: black;
    border-style: solid;
    border-width: 1px;
    background-color: lightgray;
}

.play{
    font-size: 20px;
    position: relative; 
    width: 25%; 
    height: 50px; 
    float:left
}

.click{
    font-size: 20px;
    position: relative; 
    width: 25%; 
    height: 50px; 
    float:left
}
.acc{
    font-size: 20px;
    position: relative; 
    width: 25%; 
    height: 50px; 
    float:left
}

.time{
    font-size: 20px;
    position: relative; 
    width: 25%; 
    height: 50px; 
    float:left
}

/*Side Nav CSS END*/

#canvasWrapper{
    position:relative;
    float:left;
    width:100%;
    height:100%;
}
#canvasHome{
    visibility: visible;
    position:absolute; top:0px; left:0px;
    /*    width:90%;
        height:60%;*/
    margin: 2%;
    background-color: black;
}
#canvasEnd{
    visibility: hidden;
    position:absolute; top:0px; left:0px;
    /*    width:90%;
        height:60%;*/
    margin: 2%;
    background-color: red;
}